<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/css/reset.css">
    <link rel="stylesheet" href="views/css/style.css">
    <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="set-hamburger"></nav>
    <header class="header">
        <a class="header__icon" href="/help"><i class="header__icon--fa-size far fa-question-circle"></i></a>
        <div class="header__title">My Page</div>
    </header>

    <main>

        <!-- modalのコード -->
        <div class="clan-modal">
            <div class="clan-modal__bg"></div>
            <div class="clan-modal__main">
                <div class="clan-out">
                    <div class="clan-out__box"><h3 class="clan-out__title">クランを脱退しますか？</h3></div>
                    <div class="clan-out__box">
                        <input class="main-btn drop-btn clan-out__box--item" type="button" value="脱退">
                        <input class="main-btn not-btn clan-out__box--item" type="button" value="キャンセル">
                    </div>
                </div>
            </div>
        </div>

        <div class="inner">

            <!-- マイQRコードの表示とダウンロードするエリア -->
            <div class="my-qr">
                <div class="my-qr__code" style=" background-image: url(<%= marker_url %>);"></div>
                <a class="my-qr__download" ><i class="fas fa-download fa-2x"></i></a>
            </div>

            <!-- 下記はQRコード部を除いた下部分で最大画面表示のためのdiv -->
            <div class="bottom-page">

                <!-- ユーザ情報を表示するエリア -->
                <div class="my-user">
                    <div class="my-user__name">ユーザー名:　
                        <p><%= userName %></p>
                    </div>

                    <div class="my-user__birthday">　生年月日:　
                        <p><%= birthday %></p>
                    </div>

                    <!-- プロフィール設定へ遷移する -->
                    <div class="my-user__edit">
                        <a class="main-btn" href="/profile">プロフィール変更<i class="fas fa-edit" style="margin-left: .3rem;"></i></a>
                    </div>

                </div>

                <!-- 現在所属しているクランを表示するエリア -->
                <div class="my-clan">
                    <h3 class="my-clan__title">所属クラン一覧</h3>
                    <!-- 実際に結果を表示するエリア -->
                    <div id="my-clan__list" class="my-clan__list">
                        <!-- <div class="my-clan__list--item">クラン１　<input class="main-btn out-btn" type="button" value="脱退"></div>
                            生成の時にクラスは必須 -->

                        <!-- 所属クランを表示 -->
                        <!-- example -->
                        <!-- <div class="my-clan__list--item item__hover">クラン１　<input class="main-btn out-btn" type="button" value="脱退"></div> -->
                    </div>

                </div>

            </div>

        </div>
    </main>
    <footer id="footer"></footer>
    <script src="views/js/include.js"></script>
    <!-- 所属中のクランから脱退するモーダルのエリア -->
    <script>
        const outBtn = document.querySelectorAll('.out-btn');
        const clanModal = document.querySelector('.clan-modal');
        const dropBtn = document.querySelector('.drop-btn');
        const notBtn = document.querySelector('.not-btn');
        const clanBg = document.querySelector('.clan-modal__bg');

        outBtn.forEach(btn => {
            btn.addEventListener('click', () => {
                clanModal.classList.toggle('clan-modal__open');
            });
        });

        dropBtn.addEventListener('click', () => {
            clanModal.classList.remove('clan-modal__open');
        });

        notBtn.addEventListener('click', () => {
            clanModal.classList.remove('clan-modal__open');
        });

        clanBg.addEventListener('click', () => {
            clanModal.classList.remove('clan-modal__open');
        });

    </script>
    <script>
      // 所属クランリストを作成
      let clanList = []

      <% clanList.forEach((clan) => { %>
        clanList.push({
          clanId: "<%= clan.clanId %>",
          clanName: "<%= clan.clanName %>",
        })
      <% }); %>

      setClan();

      function setClan() {
        // クランリストをセットするdiv領域を取得
        const clan_div_element = document.getElementById('my-clan__list');

        for (let clan of clanList) {
          // divタグを作成
          const div_element = document.createElement('div');
          div_element.setAttribute('class', 'my-clan__list--item item__hover');

          // inputタグを作成
          const input_element = document.createElement('input');
          input_element.setAttribute('class', 'main-btn out-btn');
          input_element.setAttribute('type', 'button');
          input_element.setAttribute('id', `${clan.id}`);
          input_element.setAttribute('value', '脱退');
          input_element.setAttribute('onclick', `outTOClan("${clan.clanId}")`);

          // divに追加
          div_element.appendChild(input_element);
          div_element.insertAdjacentHTML('afterbegin', `${clan.clanName}`);
          clan_div_element.appendChild(div_element)
        }
      }

      // クラン脱退
      function outTOClan(clanId) {
        // 検索されていたワードで作成
        let xhr = new XMLHttpRequest();

        // サーバーに送信
        xhr.open('post', '/clan_out');
        xhr.send(clanId);

        // 脱退ボタンを削除
        const button_element = document.getElementById(clanId);

        button_element.remove();

        // サーバーの応答を検知
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4 && xhr.status === 200){
                // clanリストを取得
                let restxt = xhr.responseText;
                console.log(`restxt => ${restxt}`);

            }
        };
      }

    </script>
</body>
</html>
