<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/css/reset.css">
    <link rel="stylesheet" href="views/css/style.css">
    <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="set-hamburger"></nav>
    <header class="header">
        <div class="header__title">Object Share</div>
    </header>
    <main>
        <!-- マイオブジェクトから共有するmodalを表示するボタン -->
        <div class="add-btn js-btn" id="js-add-btn">
            <span class="add-btn__line add-btn__line--1"></span>
            <span class="add-btn__line add-btn__line--2"></span>
        </div>

        <!-- マイオブジェクトから共有するmodalのコード -->
        <div class="modal js-modal">
            <div class="modal__bg js-bg"></div>
            <div class="modal__main">
                <div class="my-object-list">
                    <h2 class="my-object-list__title">マイオブジェクト一覧</h2>

                    <!-- マイオブジェクト一覧で選択したときに表示するアコーディオン -->
                    <div class="category__my-object">
                        <!-- 選択中の画像を表示 -->
                        <div id="select_image" class="my-object-list__select">

                        </div>

                        <div id="my-object-list__checks" class="my-object-list__checks">

                            <!-- カテゴリリストを追加 -->

                        </div>
                        <!-- 共有するボタン -->
                        <div class="my-object-list__decision">
                            <input id="share_button" type="button" value="マイオブジェクトを共有する" class="main-btn my-object-list__submit">
                            <input type="reset" value="キャンセル" class="sub-btn my-object-list__cansel" id="js-category-cansel">
                        </div>
                    </div>

                    <!-- サーバーから取得したマイオブジェクト一覧の画像 -->
                    <ul id="myobject_list" class="my-object-list__items">

                      <!-- マイオブジェクトリストを生成 -->

                    </ul>
                </div>
            </div>
        </div>

        <!-- 共有オブジェクトをダウンロードするmodalのコード -->
        <div class="object-modal js-modal">
            <div class="object-modal__bg js-bg"></div>
            <div class="object-modal__main">
                <div class="object-modal__batu-btn">×</div>
                <div class="object-modal__container">
                    <!-- 選択中の画像を表示 -->
                    <div id="select_object" class="object-modal__select"></div>
                    <!-- 共有オブジェクトをマイオブジェクトに追加するボタン -->
                    <div class="object-modal__btn">
                    </div>
                </div>
            </div>
        </div>

        <!-- 検索コンテナ -->
        <div class="inner">
            <div class="search">
                <div class="search__container">
                    <div id="search_area" class="search__area">

                      <!-- 選択カテゴリアイテムを表示 -->

                    </div>
                    <div class="search__btn">
                        <div class="search__icon">
                            <span class="icon-line icon-line--line1"></span>
                            <span class="icon-line icon-line--line2"></span>
                        </div>
		                </div>
                </div>
                <div class="search__category">
                    <div class="category">
                        <h3 class="category__title">
                            カテゴリ検索
                        </h3>
                        <form id="search_object" action="/object_share" method="get" style="display: flex; flex-direction: column;">
                            <div id="category__checks" class="category__checks">
								                      <!-- カテゴリーリストを生成 -->
                            </div>
                            <input id="search_btn" type="button" value="検索" class="category__search main-btn">
                        </form>
                    </div>
                    <div class="ranking">
                        <h3 class="ranking__title">
                            ランキング
                        </h3>
                        <div class="ranking__buttons">
                            <div class="ranking__button sub-btn">
                                日間ダウンロード数
                            </div>
                            <div class="ranking__button sub-btn">
                                週間ダウンロード数
                            </div>
                            <div class="ranking__button sub-btn">
                                月間ダウンロード数
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- サーバーから取得した検索後のオブジェクト一覧を表示 -->
            <ul id="shareobject_list" class="thumbnails">

              <!-- シェアオブジェクトリストを生成 -->

            </ul>
        </div>
        <div id="page_numbers" class="page__numbers">

          <!-- ページボタンを生成 -->

            <br>
        </div>
    </main>
    <footer id="footer"></footer>
    <script src="views/js/include.js"></script>
    <script src="views/js/modal.js"></script>
    <script>

      // シェアオブジェクトリストを作成
      const shareObjectList = [];

      <% shareObjectList.forEach(object => { %>
        // urlを整形
        var url = "<%= object.objectURL %>";
        url = url.replace('amp;', '')

        shareObjectList.push({
          objectId: "<%= object.id %>",
          objectName: "<%= object.objectName %>",
          objectURL: url,
        })
      <% }); %>

      setShareObjectList();

      function setShareObjectList() {
        // オブジェクトリストを表示する領域を取得
        const shareobject_ul_element = document.getElementById('shareobject_list');

        // オブジェクトリストタグを生成
        for (let [index, object] of shareObjectList.entries()) {

          // liタグを作成
          const shareobject_li_element = document.createElement('li');
          shareobject_li_element.setAttribute('class', 'thumbnails__item');
          shareobject_li_element.setAttribute('style', `background-image: url("${object.objectURL}")`);
          shareobject_li_element.setAttribute('onclick', `setShareModal(${index})`);


          // ul領域に追加
          shareobject_ul_element.appendChild(shareobject_li_element);
        }
      }

      // マイオブジェクトリストを作成
      const myObjectList = [];

      <% myObjectList.forEach(object => { %>
        // urlを整形
        var url = "<%= object.objectURL %>";
        url = url.replace('amp;', '')

        myObjectList.push({
          objectId: "<%= object.id %>",
          objectURL: url,
        });
      <% }); %>

    </script>

	<!-- 検索script -->
	<script>
      // カテゴリーリストを作成
      let categoryList = []

      <% categoryList.forEach((category) => { %>
        categoryList.push({
          categoryId: "<%= category.id %>",
          categoryName: "<%= category.categoryName %>",
          // カテゴリ検索の選択フラグ
          isSearchSelected: false,
          // オブジェクト共有時のカテゴリ選択フラグ
          isSharedCategorySwitch: false
        });
      <% }); %>

      console.dir(categoryList);

      // カテゴリーをセット
      setCategory();

      // html documentにカテゴリーをセット
      function setCategory() {
        // 検索カテゴリ選択のdiv領域を取得
        const category_check_div_element = document.getElementById('category__checks');

        // マイオブジェクト共有のカテゴリ領域を取得
        const category_share_div_element = document.getElementById('my-object-list__checks');

        for (let [index, category] of categoryList.entries()) {
          // 検索カテゴリ選択の領域
          // divを作成
          const check_div_element = document.createElement('div');
          check_div_element.setAttribute('class', 'category__check');

          // labelを作成
          const check_label_element = document.createElement('label');

          // inputタグを作成
          const check_input_element = document.createElement('input');
          check_input_element.setAttribute('type', 'checkbox');
          check_input_element.setAttribute('value', `${category.categoryName}`);
          check_input_element.setAttribute('onclick', `searchCategorySwitch(${index})`);

          // category_check_div_elementに追加
          check_label_element.appendChild(check_input_element);
          check_label_element.insertAdjacentHTML('beforeend', `${category.categoryName}`);
          check_div_element.appendChild(check_label_element);
          category_check_div_element.appendChild(check_div_element);

          // オブジェクト共有カテゴリ選択領域
          // divを作成
          const share_div_element = document.createElement('div');
          share_div_element.setAttribute('class', 'my-object-list__check');

          // labelを作成
          const share_label_element = document.createElement('label');

          // inputタグを作成
          const share_input_element = document.createElement('input');
          share_input_element.setAttribute('type', 'checkbox');
          share_input_element.setAttribute('value', `${category.categoryName}`);
          share_input_element.setAttribute('onclick', `shareCategorySwitch(${index})`);

          // category_share_div_elementに追加
          share_label_element.appendChild(share_input_element);
          share_label_element.insertAdjacentHTML('beforeend', `${category.categoryName}`);
          share_div_element.appendChild(share_label_element);
          category_share_div_element.appendChild(share_div_element);

        }

      }

      // オブジェクト登録時のカテゴリチェックボックスが変更された時
      function shareCategorySwitch(index) {
        console.log(`addSwitch => ${index}`);

        categoryList[index].isSharedCategorySwitch = !(categoryList[index].isSharedCategorySwitch)

        console.log(`categoryList {index: ${index}, isSharedCategorySwitch: ${categoryList[index].isSharedCategorySwitch}}`);
      }
  </script>
  <script src="views/js/searchCategory.js"></script>
  <script src="views/js/page.js"></script>
  <script>
    // ページを作成
    // 今居るページ
    const nowPage = <%= nowPage %>;
    const maxPage = <%= maxPage %>;
    console.log(`nowPage => ${nowPage}`);
    console.log(`page => ${maxPage}`);
    createPage();
  </script>

  </script>
  <script>
    // オブジェクトをシェア
    function objectShared(objectId) {

      xhr = new XMLHttpRequest();

      // カテゴリリストを作成
      shareCategoryList = [];
      for (let category of categoryList) {
        if (category.isSharedCategorySwitch) {
          console.log(`categorySwitch => ${category.categoryId}`);
          shareCategoryList.push(category.categoryId);
        }
      }

      // サーバーに送信
      xhr.open('post', '/object_shared');
      xhr.send(JSON.stringify({objectId: objectId, categoryList: shareCategoryList}));

      // モーダルを閉じる
      const categoryCansel = document.querySelector('.my-object-list__cansel');
      categoryCansel.click();

    }

    // マイオブジェクトに追加
    function appendMyObject(objectId) {

      xhr = new XMLHttpRequest();

      // サーバーに送信
      xhr.open('post', '/append_my_object');
      xhr.send(JSON.stringify({objectId: objectId}));

      // モーダルを閉じる
      const objectModal = document.querySelector('.object-modal');
      objectModal.classList.remove('object-modal__open');
    }

  </script>
  <script src="views/js/objectShare.js"></script>

</body>
</html>
